<div class="card tecno" style="width: 14rem;">
    <img src="../../../assets/imagenes/acer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{nombrePro}}</h5>
        <p class="card-text">{{descripcionPro}}</p>
        <button type="button" (click)="setProductoTienda()" class="btn btn-info">Asignar Producto Nuevo</button>
        <br>
        <button type="button" (click)="getProductosTiendaId()" class="btn btn-warning">Ver Producto por Id</button>
        <br>
        <button type="button" (click)="deleteProductoId()" class="btn btn-danger">Eliminar por Id</button>

    </div>
</div>